{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bhavcopy equities</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    </head>
    <body>
        <div class="fix">
            <div class="header">
                <h1>Bhavcopy Equities</h1>
                <p>Search equities and download them!</p>
            </div>
            <form method="POST" class="search-form" enctype="multipart/form-data">  
                {% csrf_token %}
                <div class="wrapper">
                    {{form}}
                    <button type="submit" class="button">Search</button> 
                </div>
            </form>
            <div class="buttons-wrapper">
                <form action="/download">
                    <button class="button">Download</button>
                </form>
                <form action="/">
                    <button class="button">Go Back</button>
                </form>
            </div>
        </div>
        <div class="wrapper">
            {% if found%}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Open</th>
                    <th>Close</th>
                    <th>High</th>
                    <th>Low</th>
                </tr>
                {% for key,value in text.items%}
                <tr>
                    <td>{{key}}</td>
                    {% for key2,value2 in value.items%}
                        <td>{{value2}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}    
            </table>
            {% else %}
            <h1 class="no-result">Sorry, no results!</2>
            {% endif %}
        </div>
    </body>
</html>